html{
    font-size:10px;
    font-family:Helvetica, Arial, sans-serif;
}

.title{
    background-color: #696969;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: left;
    padding: 1.5rem;
}

.subject{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    font-weight: bolder;    
    float: left;
    border-bottom:1px solid ivory;
}

.maintext{
    height: 100px;
    border-bottom:1px solid lightgray;
}
